/* Login */
.login-box {
  width: 30%;
  height: auto;
  background-color: #a5a5a5;
  margin-bottom: 100px;
}
.form-row {
  padding: 10px 10px;
  display: flex;
}
.form-row label {
 padding-right: 10px;
}

.form-row input {
  flex: 1;
} 
/* Login End*/

/* Main Text */

.colum-layout {
  display: flex;
  margin-bottom: 100px;
}

.main-text {
  flex: 4;
  padding: 10px;

  order: 2;
}

.sidebar-one {
  flex: 1;
  padding: 10px;

  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;

}
/* Features */
.features {

  padding: 10px;

}
.feature1 {
  flex: 1;
  background-color: #fd3f3f;
  order: 1;

  padding: 10px;
}
.feature2 {
  flex: 1;
  background-color: #63fce2;
  order: 1;

  padding: 10px;
}
.feature3 {
  flex: 1;
  background-color: #a0f340;
  order: 1;
  padding: 10px;
}

@media (min-width: 900px) {
  .features{
    display: flex;
  }
  .feature1 {
    margin-right: 20px;
  }
  .feature2 {
    margin-right: 20px;
  }

}


/*Just there*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 140%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-weight: normal;
  margin-top: 20px;
  padding: 0;
}